
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    /*background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);*/
    font-family: system-ui, -apple-system, -apple-system-font, 'Inter UI', 'regular';
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

#bezirk {
    font-size:24px;
    font-weight:500;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-transform: uppercase;
}

h2{
    text-align:center;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: white;
        
    }
}

#farbkreiswrap{
    margin-left:40%;
    margin-top:-10px;
    display: block;
   }

#farbkreiswrapGrRe{
    margin:0;
    display: block;
   }

   #farbkreiswrapYeOr{
    margin-top:0;
    display: block;
   }

#farbkreis{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 100%;
    width:100px;
    height:100px;
    display: block;
    /*background-color: red;*/
}



.farbkreiseklein{
    
    /* margin-right: 20%; */
    
    border-radius: 100%;
    width:10px;
    height:10px;
    background-color: #CB0538;
    display: inline-block;
    position:relative;
    align-items: center;

}

#farbkreisgreen{
    
    background-color: #60B564;
    margin-left: -4%;
}

#farbkreisred{
    /* margin-left: px;
    margin-top: -51px; */
    background-color: #CB0538;
    margin-left: 30%;
}

#farbkreisyellow{
    /* margin-left: 10px;
    margin-top: 10px; */
    background-color: #FED500;
    margin-left: 7%;
}

#farbkreisorange{
    /* margin-left: 10px;
    margin-top: 10px; */
    background-color: #F59C00;
    margin-top:0px;
    margin-left: 5.5%;
}




header {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: inline-block;
    align-items: center;
}

.a {
    
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


  

  .a.active {
    background-color: #2196F3;
    color: white;
  }

 



footer {
    background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
}

footer * {
    display: inline-block;
    font-size: 8pt;
}

footer li {
    margin: 20px;
}


#bundesland{
    display:none;
}

#mainwrapper{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: 80px;
    display: block;
}

body, html {
    width:100%;
}
ul {
    list-style:none;
    margin:0;
    padding:0
}


#menu > li {
    display:block;
    border:1px solid grey;
    position:relative;
    width:200px;
    margin-left:20%;
    text-align:center;
    
}
#menu li ul {
    position:absolute;
    border:1px solid grey;
    width:100%;
    max-height:0;
    overflow:hidden;
    /*-moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;*/
    background-color: white;
}
#menu li:hover ul {
    overflow:auto;
    max-height:150px;
    
}
#WarnstufeGeschrieben{
    text-align:center;
    font-weight: 500;
    margin-top: 5%;
}
/* Dropdown Button */
.dropbtn {
    color: #211F77;
    background-color: white;
    font-weight: bold;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */

  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: block;
    text-align:center;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    /*top: 70%;*/
    left: 40%;
    margin-right: -60%;
    transform: translate(-60%, -0%);
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content li {
    color: black;
    font-size: 16pt;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    visibility: visible;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content li:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}