
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    /*background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);*/
    font-family: system-ui, -apple-system, -apple-system-font, 'Inter UI', 'regular';
    font-size:12px;
    height:auto;
    margin:0;
    padding:0;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    /*text-transform:uppercase;*/
    width:100%;
    /*overflow: scroll;*/
}
/* Portrait layout (default) */
.app {
    background:url(../img/Logo_CovidLux.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/**************************************************__ALLGEMEIN__ *****************************/

h2{
    text-align:center;
}

header {
    background-image: url("../img/wellen.png");
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 160px;
    background-repeat: no-repeat;
    background-size: 100vw;
    top: 0;
    position:fixed;
    width: 100vw;
    z-index: 1;
}
header h1{
    font-size: 16pt;
    font-weight: 400;
    line-height: 2vh;
}

#RectHome{
    width: 45px;
    height:0.4vh;
    margin-top: -1.5vh;
    background-color: #211F77;
}

#RectDashboard{
    width: 45px;
    height:0.4vh;
    margin-top: -1.5vh;
    background-color: #211F77;
}

#RectMaßnahmen{
    width: 60px;
    height:0.4vh;
    margin-top: -1.5vh;
    background-color: #211F77;
}

#RectSymptome{
    width: 55px;
    height:0.4vh;
    margin-top: -1.5vh;
    background-color: #211F77;
}

a {
    color: #ADADB9;
    text-decoration: none;
    font-size: 17px;
  }
  .aktiv{
      color: #211F77;
  }

  ul {
    list-style:none;
    margin:0;
    padding:0
}

footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 15vh;
    margin-top: -10vw;
    border-top: 1px solid #ADADB9;
}

footer *{
    font-size: 2vh;
}
footer ul {
    width: 100vw;  
    display:flex; 
    justify-content: space-evenly;
}
.nav_element{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 12vh;
    font-weight: 500;
}

/**********************************************__INDEX__**************************/
.walk_kreis{
    background-color: #ADADB9;
    border-radius: 100vw;
    width:15px;
    height:15px;
}
.walk_kreis_aktiv{
    background-color: #211F77;
    border-radius: 100vw;
    width:15px;
    height:15px;
}
.walk_button_links{
    color: #211F77;
    font-weight: 700;
    font-size: 14pt;
    background-color: white;
    border: none;
    margin-right: 5vw;
    margin-top: -1vh;
}
.walk_button_rechts{
    color: #211F77;
    font-weight: 700;
    font-size: 14pt;
    background-color: white;
    border: none;
    margin-left: 5vw;
    margin-top: -1vh;
}
#walk_kreise{
    display:flex;
    justify-content: space-around;
    width: 85vw;
    margin-left: 7vw;
}
#walk_kreise_start{
    display:flex;
    justify-content: space-around;
    width: 55vw;
    margin-left: 37vw;
}
.walk_header{
    font-size: 16pt;
    font-weight: 500;
}
.walk_erklärung{
    text-align:center;
    width: 80vw;
    margin-left: 10vw;
}
.walk_erklärung_index{
    text-align:center;
    width: 80vw;
    margin-left: 10vw;
}
#splash {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    text-align: center;
    color: #211F77;
 }
 #splash_inner{
     margin-top: 35vh;
 }
 #logo_covidlux{
     text-align: center;
     visibility: hidden;
 }
 .footer_walk{
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 10vh;
    padding-top: 4vh;
    margin-top: -2vh;
    margin-left: 0vw;
    border-top: 1px solid #ADADB9;
 }
 #walk_welle{
     margin-top: 0vh;
     height: 50%;
     padding-bottom: 5vh;
 }
 #walk_h2{
     position: absolute;
     top: 5vh;
     left: 18vw;
     color: white;
     font-size: 18pt;
     font-weight: 500;
 }
 .walk_wrapper{
     padding-bottom: 20vh;
 }
 .wellen_oben{
     position:absolute;
     top:0;
     left:0;
 }
 .wellen_unten{
     position:absolute;
     bottom: 0;
     left: 0;
 }
 #wellen_oben_viren{
     display: none;
 }
 #wellen_unten_viren{
     display: none;
 }
/************************************************__HOME__************************/
#status{
    text-align:center;
    
    z-index: 1;
    background-color: #717179;
    position: absolute;
    font-size: 20pt;
    width: 100vw;
    height: 25vh;
    margin-top: 8vh;
    display:flex;
    align-items: center;
    justify-content: center;
    display:none;
}
#bezirk {
    font-size:4vh;
    font-weight:500;
    margin:0;
    overflow:visible;
    padding:0;
    text-align:center;
    text-transform: uppercase;
    width: 100vw;
}
#infoText{
    font-size:16pt;
    font-weight: 500;
    margin-top: -0.5vh;

}
#standortText{
    font-weight: 500;
    font-size: 10pt;
    margin-top: -0.2vh;
}
#farbkreiswrap{
    margin-top:-1vh;
    display: flex;
    justify-content: center;
   }
#farbkreis{
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 100vw;
    width:150px;
    height:150px;
    display: block;
    background-color: #ADADB9;
}

#farbkreisAktiv{
    margin-top: 2vh;
    margin-left: 59vw;
    margin-right: auto;
    position: absolute;
    border-radius: 100vw;
    width:80px;
    height:80px;
    display: none;
    background-color: white;
    border:1px solid #ADADB9;
}
#ringerl{
    position: absolute;
    border-radius: 100vw;
    width:16px;
    height:16px;
    /*margin-left: 9.5vw;
    margin-top: -0.2vh;*/
    background-color: white;
    border:1.5px solid rgb(61, 61, 61);
    display:none;
    z-index: -1;
}

.farbkreiseklein{
    
    /* margin-right: 20%; */
    
    border-radius: 100vw;
    width:10px;
    height:10px;
    background-color: #CB0538;
    /*display: inline-block;*/
}

#farbkreisgreen{
    
    background-color: #60B564;
    margin-left: 0vw;
    margin-top: 2vh;
}

#farbkreisred{
    /* margin-left: px;
    margin-top: -51px; */
    background-color: #CB0538;
    margin-left: 2vw;
    margin-top: 2vh;
}

#farbkreisyellow{
    /* margin-left: 10px;
    margin-top: 10px; */
    background-color: #FED500;
    margin-left: 2vw;
    margin-top: 3vh;
}

#farbkreisorange{
    /* margin-left: 10px;
    margin-top: 10px; */
    background-color: #F59C00;
    margin-left: 2vw;
    margin-top: 3vh;
}
#info_start{
    font-size: 14pt;
    font-weight: 500;
    width: 75vw;
    text-align: center;
    margin-left: 12vw;
}
.mainwrapper{
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    padding-bottom: 20vh;
    width: 100vw;
    display: block;
    /*overflow: scroll;*/
}

/*
::-webkit-scrollbar {
    width: 15px
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }*/
#content_home{
    margin-top: 2vh;
}
#WarnstufeGeschrieben{
    text-align:center;
    font-weight: 500;
    margin-top: 5%;
}

.dropbtn {
    color: #211F77;
    background-color: white;
    font-weight: 750;
    padding: 16px;
    font-size: 12pt;
    border: none;
    cursor: pointer;
  }
  .dropbtn:after {
    content: url("../img/liste pfeile.svg");
    color: #211F77;
    font-weight: bold;
    float: right;
    margin-left: 2vw;
    margin-top: 0px;
  }
  
  #myInput, #myInput_bezirk, #myInput_bundesland {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    width: 100%;
    background-color: #D7D7D9;
    color: black;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus, #myInput_bezirk:focus, #myInput_bundesland:focus {outline: 3px solid #ddd;}
  

  .dropdown {
    position: relative;
    display: block;
    text-align:center;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    top: 48%;
    left: 55%;
    margin-right: -45%;
    transform: translate(-57%, -0%);
    background-color: white;
    min-width: 50vw;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
 
  .dropdown-content li {
    color: black;
    font-size: 14pt;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    visibility: visible;
  }
  
  .dropdown-content li:hover {background-color: #f1f1f1}
  
  .show {display:block;}

  #Standortbox{
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      align-content: center;
      width: 180px;
        margin-left:auto;
        margin-right: auto;
        margin-top: 1vh;
  }

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    margin-top: 1.5vh;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid #211F77;
    -webkit-transition: .4s;
    transition: .4s; 
  }
  
  .slider:before {
    position: absolute;
    height: 29px;
    width: 35px;
    left: 33px;
    background-color: #211F77;
    color: white;
    -webkit-transition: .4s;
    transition: .4s;
    content: "AN";
    text-align: center;
    line-height: 4vh;
  }
  
  input:checked + .slider {
    background-color: white; 
  }
  
  input:focus + .slider {
    box-shadow: 1 4 1px #211F77; 
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(-33px);
    -ms-transform: translateX(-33px);
    transform: translateX(-33px);
    content: "AUS"
  }
  .slider:after
{
 content:'AUS';
 color: #211F77;;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 12px;
 left: 16px;
 font-size: 10pt;
}

input:checked + .slider:after
{  
top: 12px;
 left: 50px;
  content:'AN';
}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 15%;
  }
  
  .slider.round:before {
    border-radius: 15%;
  }

/*************************************************__DASHBOARDS__********************************/
#Navi{
    height: 10vh;
    width: 100vw;
    margin-top: 4vh;
}

#Navi ul{
    display: flex;
    flex-direction: row;
    position:absolute;
    width: 92vw;
    text-align: center;
    justify-content: center;
}
#Navi li{
    margin-left: 10vw;
    font-weight: 500;
}
.aktiv_small{
    background-color: #504F95;
    color: white;
    border-radius: 10px;
    padding-right:12px;
    padding-left: 12px;
    padding-top:3px;
    padding-bottom:3px;
}
.aktiv_lila{
    color: #504F95;
}

#Österreich{
    text-align: center;
    margin-top: -1vh;
    color: #504F95;
}
#dropbtn_bezirk, #dropbtn_bundesland{
    font-size: 18pt;
}
.dropdown_dash {
    margin-top:-3vh;
    display:flex;
    justify-content: center;
  }
/************************************************__MASSNAHMEN__********************************/
#header_maßnahmen{
    text-align:center;
    text-transform: uppercase;
    font-size: 20pt;
    font-weight: 500;
}
#sub_maßnahmen{
    width: 70vw;
    text-align:center;
    margin-left: 15vw;
    margin-top: -2vh;
    font-weight: 500;
}
.panel_maßnahmen_links{
    text-align: left;
    border-top: 1px solid #ADADB9;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding-left: 9%;
    padding-right: 0%;
    padding-bottom: 4%;
    line-height: 3vh;
}
.panel_maßnahmen_links p{
    width: 49vw;
    margin-left: 2vw;
    margin-top: 3vh;
}
.panel_maßnahmen_links img{
    margin-left: 3vw;
    margin-top: 2vh;
}
.panel_maßnahmen_rechts{
    text-align: right;
    height: auto;
    border-top: 1px solid #ADADB9;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding-left: 9%;
    padding-right: 0%;
    padding-bottom: 4%;
    line-height: 3vh;
}
.panel_maßnahmen_rechts p{
    width: 49vw;
    margin-left: 5vw;
    margin-top: 3vh;
}
.panel_maßnahmen_rechts img{
    margin-left: 0vw;
    margin-top: 2vh;
}
.panel_maßnahmen_start{
    text-align: right;
    margin-top: 5vh;
    display: flex;
    /*justify-content: space-between;*/
    padding-left: 9%;
    padding-right: 0%;
    line-height: 3vh;
}
.panel_maßnahmen_start p{
    width: 50vw;
    margin-left: 5vw;
}
.panel_maßnahmen_start img{
    margin-top: 2vh;
}
.panel_weitere_maßnahmen{
    background-color: #BFBAD1;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 8%;
    padding-bottom: 20%;
    margin-top: 4vh;
}
.panel_weitere_maßnahmen h3{
    font-weight: 500;
}
.panel_weitere_maßnahmen a{
    color: #211F77;
    text-decoration: underline;
    font-size: 12pt;
}
/************************************************__SYMPTOME__*********************************/
#Akkordeon{
    margin-top: 7vh;
}
.accordion {
    background-color: white;
    color: #504F95;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 0.2px solid gray;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    transition: 0.4s;
    padding-left: 8vw;
  }
  
  .active, .accordion:hover {
    background-color:#504F95;
    color: white;
  }
  
  .accordion:after {
    content: url("../img/pfeil_lila.png");
    font-weight: bold;
    float: right;
    margin-right: 4vw;
  }
  
  .active:after {
    content: url("../img/pfeil_weiß.png");
  }
  
  .panel {
    padding: 0 18px;
    background-color:rgba(173, 173, 185, 0.2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    text-transform: uppercase;
    text-align: left;
    display: flex;
  }
  
  .panel_links h2{
      text-align:left;
      margin-left: 3vw;
      padding-top: 10%;
  }
.panel_links ul{
    list-style: disc;     
    font-size: 12pt;
    text-transform: none;
    margin-left: 9vw;
    padding-bottom: 15%;

}
.panel_rechts{
    margin-left: 10vw;
    display:flex;
    align-items: center;
}
#Wastun{
    color:white;
    background-color: #221F78;
    width: 70%;
    height: 100%;
    text-align: center;
    font-weight: 400;
    /*padding-top: 2%;
    padding-bottom: 2%;*/
    padding-left:7%;
    padding-right:7%;
    padding-top:4%;
    padding-bottom:4%;
    margin-left: 8%;
    border-radius: 15px;
    margin-top: 6vh;
}
p{
    color: black;
    font-size: 12pt;
    font-weight: 500;
}
#Quelle{
    color: #504F95;
    font-weight: 500;
    text-decoration: underline;
}
#DataSymptome{
    text-align:center;
    margin-top: 5vh;
}
#overlay{
    background-color: #221F78;
    display: none;
    top: 0;
    left: 0;
    margin-top: 7vh; /*5vh*/
    border-radius: 15px;
    z-index: 1;
    height: 80vh;
    width: 100vw;
    position: absolute;  
}
#overlay p{
    color: white;
    font-weight: 300;
    font-size: 16pt; /*15pt*/
}
#overlay b{
    font-weight: 500;
}
#overlay_flex{
    width: 85vw;
    margin-left: 7vw;
    margin-top: 18vh; /*10vh*/
}
#overlay_img{
 float:right;
 margin-top: -10vh;
 padding:2%;
 padding-right: 10%;
}
#overlay_x{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 25pt;
    margin-top: -15vh;
    margin-left: 3vw;
    float: right;
}
/*****************************************************__INFO__****************************/
.blockWie{
    background-color: rgba(173, 173, 185, 0.2);
    color: black;
    margin-top: 5vh;
    padding-right:5vw;
    padding-left: 6vw;
}
#blockWieGesamt{
    margin-top: 25vh;
    width: 100vw;
}
h3{
    font-size: 2.5vh;
}
.flexboxwiebild{
    width: 120vw;
    text-align: center;
    margin-top: 7vh;
    padding-left: 2vw;
}
.flexboxwie{
    display:flex;
    text-align: left;
}
.textInfobutton{
    font-size:2.3vh;
}

/***********************************************__EINSTELLUNGEN__***************************/
#einstellungen{
    margin-top: 2vh;
}
.einstellungen_header {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding-top: 2vh;
    margin-left: 5vw;
    display:flex;
    align-items: center;

  }
  .einstellungen_header h2{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    margin-left: 2vw;
  }
  .einstellungen_content{
    padding: 5%;
    background-color:rgba(173, 173, 185, 0.2);
    text-align: left;
  }
  .einstellungen_content p{
      font-size: 10pt;
  }
  .einstellungen_content h3{
      color: #504F95;
  }
  .einstellungen_buttons {
    color: #504F95;
    background-color: none;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    text-align: left;
    font-size: 15px;
    border: none;
  }
  .einstellungen_buttons:after {
    content: url("../img/pfeil_lila.png");
    font-weight: bold;
    float: right;
    margin-right: 2vw;
  }
  .einstellungen_content .switch{
      float:right;
      margin-top: -7vh;
      margin-right: 3vw;
  }
  #Link{
      border-top: 1px solid rgba(80,79,149,0.25);
  }


@media screen and (max-width:820px) {
    /*#mainwrapper, header{
        width: auto;
        left:0;
    }
    #farbkreisAktiv{
        margin-left: 57vw;   
    }
    #blockWieGesamt{
        width:auto;
        margin-left: 0vw;
    }
    .textInfobutton{
        font-size: 12pt;
    }*/
    footer{
        margin-left: 0vw;
        width: auto;
    }
}
	
	

